*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;

}
.main {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.left {
  width: 40%;
  height: 100%;
  /* background-color: yellow; */
  position: relative;
}
.right {

  width: 60%;
  height: 100%;
  background-color: white;
}
.righttop {
  display:flex;
  width:100% ;
  height: 50%;
  background-color: maroon;
}

.rtopleft{
  width: 55%;
  height: 100%;
  background-color: orangered;
  background-image: url(../images/anorange.jpg);
  background-size: cover;
  background-position: center;
}
.rtopright {
  width:45% ;
  height: 100%;
  background-color: olive;
  background-image: url(../images/orange.jpg);
  background-size: cover;
  background-position: bottom;

}
.rightbottom {
  width: 100%;
  height: 50%;
  background-image: url(../images/oranges.jpg);
  background-size: cover;
  background-position: center;
  
}
.lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}


.lnavr {
  display: flex;
  align-items: center;
}
.lnavr a {
  text-decoration: none ;
  margin-right: 20px;
  color: black;
  font-weight: 500;
  font-size: 14px;

}
.lnavr i {
  color: blue;
}
.left .textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.textcenter a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-weight: 600;
  opacity: .6;
}
@media (max-width:500px){
.main  {
  flex-direction: column;
}
.main .left {
  width: 100%;
}
.main .right {
  width: 100%;
}
}